<!DOCTYPE html>
<html lang="en">

<head>
    <title>ask485</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="feed">
        <div class="ask485">
            ask485?
        </div>

        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <!-- The search bar -->
        <div class="search_bar">
            <form action="/" method="GET">
                <div><input type="text" name="q" value="{{text}}" /></div>
                <div class="pagerank_weight">Pagerank Weight</div>
                <div><input type="range" value="{{weight}}" name="w" min="0" max="1" step=".01" /></div>
                <input type="submit" value="Search" />
            </form>
        </div>
        <!-- The search results -->
        <div class="docs">
            {% if results is defined %}
            {% for result in results%}
            <div>
                {% if result.url is defined%}
                <a class="doc_url" href="{{result.url}}">{{result.url}}</a>
                {% else %}
                <div>No url available</div>
                {% endif %}
                <div class="doc_title">{{result.title}}</div>
                {% if result.summary is defined%}
                <div class="doc_summary">{{result.summary}}</div>
                {% else %}
                <div>No summary available</div>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="no_results">No search results found!</div>
            {% endif %}
        </div>
    </div>
</body>

</html>