<!DOCTYPE html>
<html lang="en">

<head>
    <title>ask485</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="feed">
        <div class="ask485">
            <h1>ask485?</h1>
        </div>

        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <!-- The search bar -->
        <div class="search_bar">
            <form action="/" method="GET">
                <div><input type="text" name="q" /></div>
                <div class="pagerank_weight">Pagerank Weight</div>
                <div><input type="range" name="w" /></div>
                <input type="submit" value="Search" />
            </form>
        </div>
        <!-- The search results -->
        {% if results is defined %}
        {% for result in results%}
        <div class="docs">
            <a class="doc_url" href="{{result.url}}"></a>
            <div class="doc_title">{{result.title}}</div>
            <div class="doc_summary">{{result.summary}}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="no_results">No search results found!</div>
        {% endif %}
    </div>
</body>

</html>